[submodule "pcf-ers-demo"]
	path = pcf-ers-demo
	url = https://github.com/avasseur-pivotal/pcf-ers-demo
[submodule "fortune-teller"]
	path = fortune-teller
	url = https://github.com/alexandreroman/fortune-teller
[submodule "cf-petclinic-wildfly"]
	path = cf-petclinic-wildfly
	url = https://github.com/alexandreroman/cf-petclinic-wildfly.git
